a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    width: 95%;
    max-width: 1024px;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #272343;
    color: white;
}

main {
   width: 100%;
   padding: 0;
   margin: 0;
   text-align: center;
   background-color: #212121;
   color: white;
}

footer {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #e3f6f5;
    color: #272343;
}

#profile-image {
    display: inline-grid;
    margin-top: 100px;
    width: 400px;
    border-radius: 8px;
}


#main-buttons {
    padding-top: 25px;
    padding-bottom: 25px;
}

#resume-button {
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px;
    width: 100px;
}

#contact-button {
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    width: 100px;
}

.education-info {
    
}

.education-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact-form {
    
    display: inline-grid;
    text-align: left;
    font-style: italic;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#hourly-form {
    display: none;
}

#message {
    padding-top: 25px;
}
.content-container img{
    max-width: 400px;
}


@media (max-width: 400px){
    

    
}

