
.content {
    display: grid;
    grid-template-columns: 1fr 300px; /* What is this doing here */
    min-height: 100dvh;
    grid-template-columns: 1fr;
    /*grid-template-columns: repeat( auto-fit, minmax(1fr, 3fr) );*/
}

a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
   padding: 0;
   margin: 0;
}

#profile-image {
    display: inline-grid;
    margin-top: 100px;
    width: 400px;
    border-radius: 8px;
}

.left-side {
    text-align: center;
    justify-content: center;
    background-color: #5865F2;
}

.right-side {
    justify-content: center;
    background-color: white;
    text-align: center;
}

#main-buttons {
    padding-top: 25px;
}

#resume-button {
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px;
    width: 100px;
}

#contact-button {
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    width: 100px;
}

#contact-form {
    
    display: inline-grid;
    text-align: left;
    font-style: italic;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.content-container img{
    max-width: 400px;
}


@media (max-width: 400px){
    .content-container {
        flex-direction: column;
    }
    
    .content-container img{
        max-width: 100%;
    }
    
    #right-menu
    {
        margin-left: 0;
        margin-top: 10px;
    }
}

